ul{
    list-style-type: none;
}


@media (max-width:768px){
    .days{
        grid-gap: 10px;
    }


}


@media (min-width:768px){

    .days{
        padding: 10px;
        grid-gap: 20px;
        grid-template-rows: 70px 70px 70px 70px 70px;
    }

    .day:hover{
        background: #03886b9f;
        color: white;
        transition: all 0.3s ease;
    }
    

}



.month {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: #1abc9c;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.days{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: white;
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    border: 2.5px solid #1abc9c;
    
}

.day{
    background-color: rgba(223, 223, 223, 0.281);
    color: black;
    text-align: center;
    border-radius: 5%;
}

.appointment{
    width: 100%;
}






