ul {
    list-style-type: none;
}


@media (max-width:768px) {
    .days {
        grid-gap: 10px;
        grid-template-rows: repeat(6, 30px);

    }

    .appointment {
        width: 100%;
    }

    .day-planner-title{
        font-size: 12px;
    }

}


@media (min-width:768px) {

    .days {
        padding: 10px;
        grid-gap: 20px;
        grid-template-rows: repeat(6, 70px);

    }

    .appointment {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }


}



.appointment-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background: #1abc9c;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}

.month {
    font-size: 20px;
}

.days {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: white;
    margin-top: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 2.5px solid #1abc9c;
    border-right: 2.5px solid #1abc9c;
    border-bottom: 2.5px solid #1abc9c;
    padding-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;



}

.day {
    background-color: rgba(223, 223, 223, 0.281);
    color: black;
    text-align: center;
    border-radius: 5%;
    cursor: pointer;

}

.day:hover,
.active {
    background-color: #03886b9f;
    color: white;
    transition: all 0.5s ease;
}


.day-weekend,
.day-before-current-date {
    background-color: rgba(0, 0, 0, 0.144);
    color: white;
    text-align: center;
    border-radius: 5%;
}


.day-weekend:hover,
.day-weekend:active,
.day-before-current-date:hover,
.day-before-current-date:active {
    background-color: #8803039f;
    color: white;
    transition: all 0.5s ease;
}


.weekdays {
    display: grid;
    text-transform: uppercase;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: white;
    padding: 5px;
    border-left: 2.5px solid #1abc9c;
    border-right: 2.5px solid #1abc9c;

}

.weekday {
    color: black;
    text-align: center;
    font-size: 12px;
}

#arrow-left {
    cursor: pointer;
}

#arrow-right {
    cursor: pointer;
}

.day-planner {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    flex-direction: column;
    /* border: 2.5px solid #1abc9c; */
    border-radius: 10px;
    padding: 0;
}

.day-planner-hour {
    display: flex;
    transition: background-color 0.5s ease;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(223, 223, 223, 0.281);
    color: black;
    padding: 10px;
    cursor: pointer;
}

.day-planner-hour:hover {
    background-color: #03886b9f;
    color: white;
    transition: background-color 0.5s ease;
}

.day-planner-title{
    background-color: rgba(223, 223, 223, 0.281);
    color: black;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}