@media (max-width: 768px) {
    .header-logo {
        height: 8em;
    }
}


@media (min-width: 768px) {
    .header-logo {
        height: 10em;
    }
}



.header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    top: 0;
}



/* .header-brand-name{
    background-color: white;
    display: inline;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
} */