.header{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    top: 0;
}

.header-logo{
    display: inline;
    height: 8em;
}

.header-brand-name{
    color: rgb(56, 144, 185);
    background-color: white;
    display: inline;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;

}
