@media (max-width:768px){
    .procedures-photo{
        width: 100%;
        height: auto;
    }

    .procedures-info{
        width: 100%;
        background-color: rgba(223, 223, 223, 0.281);
    }
}


@media (min-width:768px){
    .procedures-photo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;   
    }

    .procedures-info-content{
        margin-right: 10%;
        width: 90%;  
    }

    .procedures-info{
        background-color: rgba(223, 223, 223, 0.281);
    }

}

.procedures-photo{
    margin-top: 10px;
}

.procedures-info-content{
    color:#797676;
    margin-left: 5%;
    margin-right: 5%;

}

.procedures-menu{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}