@media (max-width: 990px) {
    .side-bar-item {
        color: white;
        border: 1px solid white;
    }

    .side-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        background-color: #37c5a6;
        line-height: 15px;
        overflow: hidden;
        top: 0;
        flex-wrap: wrap;
        border: 1px ridge;
    }

    #side-bar-team {
        display: none;
    }

    #side-bar-photos {
        display: none;
    }

    #side-bar-prices {
        display: none;
    }

    .side-bar-item {
        /* border: 1px solid white; */
        padding: 5%;
        font-size: small;
        font-weight: 300;
        letter-spacing: 0.2px;
        flex: 1;
    }

    #side-bar-item-text-book {
        display: inline;
    }
}


@media (min-width: 990px) {
    .side-bar-item {
        color: white;
    }

    .side-bar-item{
        transition: letter-spacing 0.5s ease;
    }

    .side-bar-item:hover {
        letter-spacing: 4px;
        transition: letter-spacing 1s ease;
    }

    .side-bar {
        height: 100%;
        width: 15%;
        position: fixed;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #37c5a6;
        line-height: 30px;
        overflow: hidden;
        bottom: 0;
        left: 0;
        flex-wrap: wrap;
    }

    .next-to-side-bar {
        padding-left: 15%;
        overflow: hidden;
    }

    .side-bar-item {
        /* border: 1px solid white; */
        padding: 5%;
        border-spacing: 5px;
        font-size: small;
        font-weight: 300;
        flex: 1;
    }

    .side-bar-item-text {
        display: inline;
    }
}