@media (max-width: 990px){
    .side-bar-item{
        color: steelblue;
    }
}


@media (min-width: 990px){
    .side-bar-item{
        color: white;
    }
    .side-bar-item:hover{
        background-color: rgb(57, 106, 146);
    }
}


.side-bar{
    height: 100%;
    width: 15%;
    position: fixed;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: steelblue;
    line-height: 30px;
    overflow: hidden;
    top: 0;
    bottom: 0;
}


.side-bar-item{
    /* border: 1px solid white; */
    padding: 5%;
    border-spacing: 5px;
    font-size: small;
    font-weight: 300;
    flex: 1;
}