*{
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
}



@media (max-width:768px){
    p{
        font-size: 14px;
    }
    #photo0{
        display: none;
    }
    #photo2{
        display: none;
    }
    #photo4{
        display: none;
    }
    #photo2{
        display: none;
    }
    #photo6{
        display: none;
    }
    #photo7{
        display: none;
    }
    #photo8{
        display: none;
    }
    .view-more-photos{
        display: block;
        color: rgb(149 179 205);
        text-align: center;
        font-weight: 300;
        margin-bottom: 5%;
        background-color: #f7f6f4;
        padding: 1% 1% 1% 1%;
        font-size: small;
    }

    .photo-gallery{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        align-items: center;
        background-color: rgba(223, 223, 223, 0.281);
    }

    .photo-gallery-element{
        border: 1px solid #ccc;
        width: 100%;
    }

    .team-gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .team-member{
        width: 50%;
        height: 30%;
        align-content: center;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 5px;
    }

    .team-member-photo{
        width: 50%;
    }

    .workplace-book-now{
        font-size: 10px;
        padding-bottom: 2.5em;
        padding-top: 1em;;
    }

    .workplace-book-now{
        background: #03886b9f;
        color: white;
    }
}

@media (min-width:768px){
    p{
        font-size: 16px;
    }
    .view-more-photos{
        display: none;
    }

    .photo-gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        align-items: center;
        background-color: rgba(223, 223, 223, 0.281);
    }

    .photo-gallery-element{
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
        width: 100%;
    }

    .photo-gallery-element:hover{
        transition: all 1s ease;
        opacity: 0.8;
    }

    .team-gallery{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .team-member{
        width: 20%;
        height: 40%;
        align-content: center;
        text-align: center;
    }

    .team-member-photo{
        width: 50%;
    }

    .workplace-book-now{
        padding-bottom: 2.5em;
        padding-top: 1em;
    }

    .workplace-book-now{
        color: black;
        background: #05050542;
    }
    
    
    .workplace-book-now:hover{
        transition: background-color 1.2s ease;
        background: #03886b9f;
        color: white;
    }

    .circle{
        transition: all 1s ease;

    }

    .circle:hover{
        background-color: #03886b;
        transition: all 1s ease;
    
    }

}

.team-member-name{
    color: #0a672b;
}

.team-member-job{
    color: #d34400;
}

h3{
    margin-top: 0;
}


a{
    text-decoration: none;
}

.workplace{
    position: relative;
    text-align: center;
    background: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
}

.workplace-photo{
    width: 75%;
    opacity: 0.7;
}

.workplace-book-now{
    position: absolute;
    top: 40%;
    bottom: 60%;
    left: 40%;
    right: 40%;
    align-self: center;
    transition: background-color 0.8s ease;

}



.about-us{
    width: 100%;
    background-color: rgba(223, 223, 223, 0.281);
    padding-bottom: 10px;

}

.about-us-content{
    color:#797676;
    margin-left: 5%;
    margin-right: 5%;

}

.subtitle{
    font-family: 'Roboto Mono', monospace;
    color: #03886b;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
    text-transform: uppercase;
}


.circle {
    color:ghostwhite;
    background-color: #37c5a6;
    line-height:100px;
    text-decoration: none;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}


.procedures-menu-backgrount{
    background-color: #f2fbf8;
}
